* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:host {
  display: block;
}

main {
  width: 100%;
  height: 100%;
  overflow: scroll;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  user-select: none;
  -webkit-user-drag: none;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */

  /* Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Disable scroll chaining and enable touch panning. */
  /* Unfortunately, this will prevent users from reloading */
  /* page via pull-to-refresh on mobile, but it seems to be */
  /* the only way to get proper panning behavior on ios. */
  overscroll-behavior: contain; /* keep scroll in element */
  touch-action: pan-x pan-y;    /* let Safari do native pan */
  -webkit-overflow-scrolling: auto;
}
