* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:host {
  display: block;
}

main {
  width: 100%;
  height: 100%;
  overflow: scroll;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  user-select: none;
  -webkit-user-drag: none;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */

  /* Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}
