* {
  padding: 0;
  margin: 0;
  background-origin: padding-box;
}

:host {
  display: block;
  width: 100%;
  height: 8px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #222;
  overflow: hidden;
}

.bar {
  width: 0%;
  height: 100%;
  background-color: #00d41c;
  border-right: 1px solid #222;
}
