* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:host {
  pointer-events: auto;
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 6;
  background-color: white;
  border-radius: 50%;
  transition: transform 120ms ease, box-shadow 120ms ease;
  will-change: transform;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

/* :host:active {
  TODO: make the component do that
  transform: scale(0.9);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
} */

.img-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

img {
  display: block;
  width: 60%;
  height: 60%;
  pointer-events: none;
}
