* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:host {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
}

.open {
  pointer-events: none;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
}

.door-frame {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1.2s ease-out;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
}

.label-container {
  background-color: #fff;
  color: #333;
  border-radius: 50%;
  width: 60%;
  font-size: 25px;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.door-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset -3px 2px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  -webkit-user-drag: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  transition: background-size 0.9s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-size: 106% 106%;
  }
}

.door-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

.play-icon {
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.play-icon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-34%, -50%);
  width: 0;
  height: 0;
  border-left: 8px solid rgba(255, 255, 255, 0.7);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.hide {
  display: none;
}
