* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:host {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
}

.open {
  pointer-events: none;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
}

.door-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 5px dashed #333;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 1.2s ease-out;
}

.label-container {
  background-color: rgba(255, 255, 255, 1);
  color: #333;
  border-radius: 50%;
  border: 3px solid #222;
  width: 46px;
  font-size: 30px;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #555;
  border-radius: 2px;
  padding: 8px;
  background-color: #222;

  .door-content {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    cursor: pointer;
    -webkit-user-drag: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    transition: background-size 0.9s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset -2px 2px 3px rgba(0, 0, 0, 0.3);

    &:hover {
      background-size: 106% 106%;
    }
  }
}

.door-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 3px;
}

.play-icon {
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.play-icon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-34%, -50%);
  width: 0;
  height: 0;
  border-left: 14px solid rgba(255, 255, 255, 0.7);
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
}

.hide {
  display: none;
}
