* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  color-scheme: light dark;
  font-family: Arial, Helvetica, sans-serif;
}

.hide {
  display: none;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  background-color: white;
}

.screen-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* @media (min-width: 1024px) {
  .screen-wrapper {
    height: calc(1 * 600px);
    width: calc(1 * 1024px);
  }
} */

.screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.move-up {
    transform: translateY(-100%);
    transition: transform 3s ease-out;
  }
}

.title-screen {
  z-index: 1;
  color: #333;
  background-color: #fff;
  font-size: 16px;
  text-align: center;

  .start-button {
    width: 70%;
    max-width: 300px;
    height: 35px;
    margin-top: 250px;
    font-size: 14px;
    border: 1px solid #222;
    border-radius: 8px;
    background-color: #fff;
    color: #222;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #aaccfc;
    }
  }

  .progress-bar {
    width: 70%;
    max-width: 300px;
    height: 35px;
    margin-top: 250px;
    border: 1px solid #222;
    border-radius: 8px;

    &::part(bar) {
      background-color: #aaccfc;
      transition: width 1.2s ease;
      border-radius: 8px;
    }
  }
}

.pan-container {
  flex: 1 1 0;
  width: 100%;
  height: 100%;
}

.calendar {
  position: relative;
}

blur-overlay {
  --width: 50px;
  --edge-opacity: 0.9;
}
