* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  color-scheme: light dark;
  font-family: Arial, Helvetica, sans-serif;
}

#debug {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 12px;
  padding: 4px 8px;
  max-width: 300px;
  max-height: 150px;
  overflow: auto;
}

.hide {
  display: none;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  background-color: white;
}

.screen-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-screen {
  z-index: 1;
  color: #333;
  background-color: #fff;
  font-size: 16px;
  text-align: center;

  .title-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
    justify-content: space-between;
  }

  .interaction-area {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;

    .start-button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      will-change: transform;

      &:active {
        transform: scale(0.9);
        transform: translate(2px, 2px);
      }
    }
  }

  .progress-bar {
    max-width: 250px;
    height: 8px;
    border: 1px solid #222;
    border-radius: 8px;

    &::part(bar) {
      background-color: #000000;
      transition: width 1.2s ease;
      border-radius: 8px;
    }
  }
}

.calendar-screen {
  z-index: 0;
}

.pan-container {
  flex: 1 1 0;
  width: 100%;
  height: 100%;
}

blur-overlay {
  --width: 15px;
  --edge-opacity: 0.4;
}

audio-toggle {
  position: fixed;
  bottom: 20px;
  right: 80px;

  &:active {
    transform: scale(0.9);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
  }
}

fullscreen-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;

  &:active {
    transform: scale(0.9);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
  }
}
