* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  color-scheme: light dark;
  font-family: system-ui;
}

.hide {
  display: none;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  background-color: white;
}

.screen {
  position: relative;
  width: 100vw;
  height: 100vh;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  .screen {
    height: calc(1 * 600px);
    width: calc(1 * 1024px);
  }
}

.title-screen {
  color: #333;
  font-size: 16px;
  text-align: center;

  .start-button {
    width: 70%;
    max-width: 300px;
    height: 35px;
    margin-top: 250px;
    font-size: 14px;
    border: 1px solid #222;
    border-radius: 8px;
    background-color: #fff;
    color: #222;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #aaccfc;
    }
  }

  .progress-bar {
    width: 70%;
    max-width: 300px;
    height: 35px;
    margin-top: 250px;
    border: 1px solid #222;
    border-radius: 8px;

    &::part(bar) {
      background-color: #aaccfc;
      transition: width 1.2s ease;
      border-radius: 8px;
    }
  }
}

.pan-container {
  flex: 1 1 0;
  width: 100%;
  height: 100%;
}

.calendar {
  position: relative;

  calendar-door::part(door-backdrop),
  calendar-door::part(door-content) {
    border-radius: 15px;
  }
}
