* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  color-scheme: light dark;
  font-family: system-ui;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  background-color: #222;
}

pan-container {
  width: 100vw;
  height: 100vh;
}

@media (min-width: 1024px) {
  pan-container {
    height: calc(1 * 600px);
    width: calc(1 * 1024px);
  }
}

.pan-content {
  position: relative;
  background: url('../assets/images/dummy-map.webp');
  width: 1441px;
  height: 881px;
}

.door {
  position: absolute;
  cursor: pointer;
  -webkit-user-drag: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.door-text {
  color: #333;
  font-size: 32px;
  font-weight: bold;
}

.door-04 {
  left: 820px;
  top: 540px;
  width: 91px;
  height: 131px;
  background: url('../assets/images/door-91-131.png') no-repeat center;

  &.open {
    left: calc(820px - 91px);
    transition: left 1.2s ease-out;
  }
}

.door-content {
  position: absolute;
  cursor: pointer;
  -webkit-user-drag: none;
  box-shadow: inset -3px 2px 6px rgba(0, 0, 0, 0.3);
}

.door-04-content {
  left: 820px;
  top: 540px;
  width: 91px;
  height: 131px;
  background: url('../assets/images/record-04-vertical.webp') center no-repeat;
  transition: background-size 0.9s ease-out;
  background-size: 100% 100%;
  border-radius: 14px;

  &:hover {
    background-size: 106% 106%;
  }
}
