* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  color-scheme: light dark;
  font-family: Arial, Helvetica, sans-serif;
}

.hide {
  display: none;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  background-color: white;
}

.screen-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-screen {
  z-index: 1;
  color: #333;
  background-color: #fff;
  font-size: 16px;
  text-align: center;
  border-bottom: 1px solid #222;
  box-shadow: 0 4px 20px -4px rgba(0, 0, 0, 0.18);

  .start-button {
    width: 70%;
    max-width: 200px;
    height: 35px;
    margin-top: 250px;
    font-size: 14px;
    border: 1px solid #222;
    border-radius: 8px;
    background-color: #fff;
    color: #222;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:active {
      background-color: #e0e0e0;
    }
  }

  .progress-bar {
    width: 70%;
    max-width: 300px;
    height: 35px;
    margin-top: 250px;
    border: 1px solid #222;
    border-radius: 8px;

    &::part(bar) {
      background-color: #e0e0e0;
      transition: width 1.2s ease;
      border-radius: 8px;
    }
  }
}

.calendar-screen {
  z-index: 0;
}

.pan-container {
  flex: 1 1 0;
  width: 100%;
  height: 100%;
}

blur-overlay {
  --width: 30px;
  --edge-opacity: 0.9;
}

audio-toggle {
  position: fixed;
  bottom: 20px;
  right: 80px;

  &:active {
    transform: scale(0.9);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
  }
}

fullscreen-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;

  &:active {
    transform: scale(0.9);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
  }
}
